@charset "UTF-8";

/*css*/
body {
    font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
    font-size: 12px;
    line-height: 1.6;
    letter-spacing: 0;
}
a{
    font-size: 13px;
    text-decoration: none;
    padding:5px;
}
a.topic{
    font-size: 12px;
    text-decoration: none;
}
a.topic span {
    display: none;
    width: 80px;
    padding: 10px;
    margin: 10px 0 0 -10px;
}
a.topic:hover span{
    display: inline;
    text-align: left;
    width: 200px;
    height: 100px;
    position: absolute;
    border: 1px solid #CCC;
    border-radius: 5px;
    background: #f8f8f8;
    color: #666;
    font-size: 12px;
    line-height: 1.5em;
}
/*曜日*/
.sun{
    color: red;
    background-color: rgba(255,0,0,0.05);
}
.sat{
    color: blue;
    background-color: rgba(0,0,255,0.05);
}
.holiday{
    font-size: 16px;
    color: red;
    background-color: rgba(255,0,0,0.05);
}
.today{
    background-color: rgba(0,255,0,0.05);
}
/*ヘッダ*/
#header{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color : rgba(100,200,0,1);
}
.header_link{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
}
/*メイン*/
.box{
    background-color: #fff;
}
.topic{
    font-size: 14px;
    margin: 0 auto;
    font-size: 10px;
    text-decoration: none;
    line-height: bottom;
}
/*テーブル*/
table.cal {
    max-width: 800px;
    max-height: 600px;
    font-size: 18px;
    background-color: #fff;
    border-width: thin;
    border-spacing: 0px;
    border-style: outset;
    border-color: gray;
    border-collapse: collapse;
    text-align: center;
    float: left;
    margin-left: 25px;
}
table.cal th {
    table-layout: auto;
    font-size: 16px;
    line-height: 1.6em;
    font-weight: lighter;
    border-width: 1px;
    padding: 5px;
    border-style: inset;
    border-color: gray;
    background-color: rgba(0,0,255,0.1);
    width: 100px;
    height: 60px;
        -moz-border-radius: ;
}
.cal td {
    text-align:left;
    vertical-align: top;
    font-size: 12px;
    line-height: 1.5em;
    border-width: 1px;
    padding: 5px;
    border-style: inset;
    border-color: gray;
    width: 100px;
    height: 80px;
        -moz-border-radius: ;
}
.cal td:hover{
    background: rgba(255,255,0,0.1);
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
/*アンカツールチップ*/
a.tooltip span {
    display: none;
    width: 100px;
    padding: 10px;
    margin: 10px 0 0 -10px;
}
a.tooltip:hover span{
    display: inline;
    text-align: left;
    width: 200px;
    height: 100px;
    position: absolute;
    border: 1px solid #CCC;
    border-radius: 5px;
    background: #F7F7F7;
    color: #666;
    font-size: 12px;
    line-height: 1.5em;
}

/*schedule.php*/
input.submit_button{
    font-size: 1.2em;
    margin: 0px;
    width: 100px;
    height: 60px;
    padding: 20px 50px;
}
input.submit_insert{
    font-size: 1.2em;
    width: 100px;
    height: 60px;
    padding: 20px 50px;
}
input#submit_delete{   
    font-size: 1.2em;
    margin: 0px;
    width: 100px;
    height: 60px;
    padding: 20px 50px;
}
input.input_ymd{
    width: 30px;
}
.delete{
    float: right;
}